.videoCard {
  margin-bottom: 4rem;
  width: 27rem;

  &__thumbnail {
    height: 14rem;
    width: 25rem;
  }

  &__info {
    display: flex;
    margin-top: 1rem;
    padding-right: 3rem;

    &-text {
      margin-left: 1.5rem;

      & h4 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }

      &p {
        font-size: 1.4rem;
        color: gray;
      }
    }

    &-avatar {
      height: 3rem;
      width: 3rem;
    }
  }
}
